@{ 
    @*var conroller = (UsersController)ViewContext.Controller;*@
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlantPlanet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="~/css/Customer.css" />
    <link rel="stylesheet" href="~/css/Contact.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <script src="/js/layout.js"></script>
    <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">

</head>
<body>
    <header>
        <a class="navbar-brand logo-container logodiv" asp-area="" asp-controller="Home" asp-action="Index">
            <img class="logo" title="משתלת עולם הצמחים - plant planet" src="~/images/logo.png" alt="Plant Planet" />
        </a>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom mb-3">
            <div class="container" style="direction:rtl">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul id="navigation" class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">ראשי</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="Index">קטלוג מוצרים</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Create">הרשמה</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">אודות</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FrequentQuestions" asp-action="Index">שאלות נפוצות</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="QuestionsAndAnswers" asp-action="Index">שימוש באתר</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">צור קשר</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
                                <span title="סל קניות" class="cart-icon material-icons-outlined">
                                    shopping_cart
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @*<form asp-action="Search" asp-controller="Catalog" style="margin-top: 4%">
            <input name="query" class="search-input" type="search" placeholder="חיפוש" />
            <button class="search-container" style="border:none; background-color:transparent">
                <i class="fas fa-search" style="margin-right: 5px" aria-hidden="true"></i>
            </button>
        </form>*@

        @{
            if (User.IsInRole("Customer"))
            {
                <div class="dropdown user-info-container">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                היי,  @User.Identity.Name
                            </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item user-info-option" asp-controller="UserInfo" asp-action="Index">הפרופיל שלי</a>
                        <a class="dropdown-item user-info-option" asp-controller="Users" asp-action="Logout">התנתקות</a>
                    </div>
                </div>
            }
            else
            {
                <div class="sign-in-btn-container">
                    <button class="btn btn-outline-success">
                        <a asp-controller="Users" asp-action="Login" style="all:unset">התחברות</a>
                    </button>
                </div>
            }
        }

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="bottom-nav small-text">
            <div class="bottom-nav-right-info">
                <span><span>טלפון</span> 0544568541</span>
                <span><span>מייל</span> plantplanetisrael@gmail.com</span>
                <div class="circles-container">
                    <a href="https://www.facebook.com/plantplanetisrael" class="circle-link">
                        <img class="circle-img" src="~/images/facebook.png" />
                    </a>
                    <a href="https://www.instagram.com/plant.O.planet/" class="circle-link">
                        <img class="circle-img" src="~/images/instagram.png" />
                    </a>
                    <a href="https://wa.me/972544568541" class="circle-link">
                        <img class="circle-img" src="~/images/whatsapp.png" />
                    </a>
                </div>
            </div>

            <div class="bottom-nav-middle-info">
                <button id="privacy">
                    מדיניות פרטיות
                </button>
                <button id="cookies">
                    מדיניות שימוש בקוקיז
                </button>
                <button id="usage">
                    מדיניות ותנאי שימוש
                </button>
            </div>

            <div class="bottom-nav-left-info">
                <span>שעות פתיחה</span>
                <span>א-ה בין השעות 8:00-19:00</span>
                <span>ו-ש בין השעות 10:00-15:00</span>
                <span>כתובת</span>
                <span>הסייפן 35, רמת השרון</span>
            </div>
        </div>

        <div class="about-text small-text">
            &copy; 2021 - PlantPlanet
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>