@model IEnumerable<PlantPlanet.Models.Store>

@{
    ViewData["Title"] = "Index";
}

<div class="container contact-us">
    <div class="row">
        <div class="col-sm">
            <h5>יצירת קשר</h5>
            <a> מוזמנים ליצור איתנו קשר באחת מהדרכים הבאות: </a>
            <div class="circles-container">
                <a href="https://www.facebook.com/plantplanetisrael" class="circle-link">
                    <img class="circle-img" src="~/images/facebook.png" />
                </a>
                <a href="https://www.instagram.com/plant.O.planet/" class="circle-link">
                    <img class="circle-img" src="~/images/instagram.png" />
                </a>
                <a href="https://wa.me/972544568541" class="circle-link">
                    <img class="circle-img" src="~/images/whatsapp.png" />
                </a>
            </div>
            <div class="online-time-text">
                <a>שעות הפעילות הן:</a> <br />
                <a>בימי א-ה בין השעות 8:00-19:00</a> <br />
                <a>בימי ו-ש בין השעות 10:00-15:00</a> <br />
            </div>
        </div>

        <div class="col-sm info">
            <h5>משתלת Plant Planet</h5>
            <a>כתובתנו היא הסייפן 35, רמת השרון</a> <br />
            <a>ניתן לפנות אלינו בטלפון - 0544568541</a> <br />
            <a> או במייל - plantplanetisrael@gmail.com</a><br />

            <div id="StoresMap" style="height: 450px; width: 550px; margin-top:20px"></div>
            <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
            <script type="text/javascript">
                var markers = @Html.Raw(ViewBag.Markers);
                window.onload = function () {
                    var mapOptions = {
                        center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                        zoom: 9,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var infoWindow = new google.maps.InfoWindow();
                    var map = new google.maps.Map(document.getElementById("StoresMap"), mapOptions);
                    for (i = 0; i < markers.length; i++) {
                        var data = markers[i]
                        var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            map: map,
                        });
                        (function (marker, data) {
                            google.maps.event.addListener(marker, "click", function (e) {
                                infoWindow.setContent(data.description);
                                infoWindow.open(map, marker);
                            });
                        })(marker, data);
                    }
                }
            </script>
        </div>
    </div>
</div>
