
@{


    ViewData["Title"] = "Index";
}

<div class="container contact-us">
    <div class="row">
        <div class="col-sm">
            <h5>יצירת קשר</h5>
            <a> מוזמנים ליצור איתנו קשר באחת מהדרכים הבאות: </a>
            <div class="circles-container">
                <a href="https://www.facebook.com/plantplanetisrael" class="circle-link">
                    <img class="circle-img" src="~/images/facebook.png" />
                </a>
                <a href="https://www.instagram.com/plant.O.planet/" class="circle-link">
                    <img class="circle-img" src="~/images/instagram.png" />
                </a>
                <a href="https://wa.me/972544568541" class="circle-link">
                    <img class="circle-img" src="~/images/whatsapp.png" />
                </a>
            </div>
            <div class="online-time-text">
                <a>שעות הפעילות הן:</a> <br />
                <a>בימי א-ה בין השעות 8:00-19:00</a> <br />
                <a>בימי ו-ש בין השעות 10:00-15:00</a> <br />
            </div>
        </div>

        <div class="col-sm info">
            <h5>משתלת Plant Planet</h5>
            <a>כתובתנו היא הסייפן 35, רמת השרון</a> <br />
            <a>ניתן לפנות אלינו בטלפון - 0544568541</a> <br />
            <a> או במייל - plantplanetisrael@gmail.com</a><br />

            <script>
                // Initialize and add the map
                function initMap() {

                    // The location of Plant Planet
                    const PlantPlanet = { lat: 32.1343066, lng: 34.8365885 };

                    // The map, centered at Plant Planet
                    const map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 15,
                        center: PlantPlanet,
                    });

                    // The marker, positioned at Plant Planet
                    const marker = new google.maps.Marker({
                        position: PlantPlanet,
                        map: map,
                    });
                }
            </script>

            <div id="map"></div>
        </div>
    </div>
</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
