@model IEnumerable<PlantPlanet.Models.Store>

@{
    ViewData["Title"] = "Index";
}

<div class="container" style="direction:rtl; text-align:right; font-family: 'Gisha'">
    <div class="row">
        <div class="col-sm">
            <h5>מוזמנים להשאיר פרטים ונחזור אליכם בהקדם האפשרי</h5>
            <a> שעות הפעילות הן:</a> <br />
            <a>בימי א-ה בין השעות 8:00-19:00</a> <br />
            <a>בימי ו-ש בין השעות 10:00-15:00</a> <br />
            <br />
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="privatename" placeholder="שם פרטי">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="familyname" placeholder="שם משפחה">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="כתובת מייל">
                    <small id="emailHelp" class="form-text text-muted">לא נשתף את כתובת המייל עם אף גורם אחר</small>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="phone" placeholder="טלפון">
                </div>
                <div class="form-group" style="height:140px">
                    <textarea class="form-control" id="reason" placeholder="סיבת הפנייה"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">שלח פנייה</button>
            </form>
        </div>
        <div class="col-sm" style="padding-right: 8%">
            <h5>משתלת Plant Planet</h5>
            <a>כתובתנו היא הסייפן 35, רמת השרון</a> <br />
            <a>ניתן לפנות אלינו בטלפון - 0544568541</a> <br />
            <a> או במייל - plantplanetisrael@gmail.com</a><br />
            <script>
                // Initialize and add the map
                function initMap() {

                    // The location of Plant Planet
                    const PlantPlanet = { lat: 32.1343066, lng: 34.8365885 };

                    // The map, centered at Plant Planet
                    const map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 15,
                        center: PlantPlanet,
                    });

                    // The marker, positioned at Plant Planet
                    const marker = new google.maps.Marker({
                        position: PlantPlanet,
                        map: map,
                    });
                }
            </script>

            <div id="map" style="height: 450px; width: 550px; margin-top:20px"></div>
        </div>
    </div>
</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
