
@{
    ViewData["Title"] = "FrequentQuestions";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/layout.css" />
<link rel="stylesheet" href="~/css/FrequentQuestions.css" />

<section class="body">
    <h4 id="header">שאלות נפוצות</h4>
    <br />
    <div id="text">
        <h6>
            אנחנו במשתלות PlantPlanet מאמינים כי הלקוח עומד מעל הכל, ומנסים למצוא לו פתרון הכולל את כל התחומים הקשורים לגינון, הפרטי והציבורי, תחת קורת גג אחת במגוון אפשרויות ומחירים.
            המשתלה המתמחה בגינון, השקיה, תכנון גינות, הקמת גינות, מהווה מרכז גינון מקצועי, מייצרת ומשווקת צמחים בכל רחבי הארץ ללקוחות פרטיים, גננים, אדריכלים, מוסדות, עיריות, משתלות וכ"ו.
            .הידע המקצועי המצטבר שנרכש במשתלה, במהלך השנים בא לידי ביטוי באנשי מקצוע איתם ניתן להתייעץ באשר לבחירת הצמחים והאביזרים והתאמתם לצרכים השונים
            על מנת לעזור לכם לגדל את הצמחים שלכם בצורה הטובה ביותר הכנו סרטונים המסבירים איך להימנע מהטעויות הגדולות ביותר הנעשות בעת גידול צמחים. מוזמנים לצפות ולהעשיר את הידע שלכם :)
        </h6>
        <aside id="side">
            <p>מוזמנים ליצור קשר ולשאול שאלות נוספות</p>
        </aside>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h5>איך מגדלים צמחים בשיטה הידרופונית?</h5>
            <video id="video" controls>
                <source src="/Videos/hydro.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-sm-6">
            <h5>איך מגדלים סחלבים?</h5>
            <video id="video" controls>
                <source src="/Videos/orchids.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <h5>איך בוחרים אדמת שתילה?</h5>
            <video id="video" controls>
                <source src="/Videos/soil.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

</section>