@model PlantPlanet.Models.DeliveryType

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/delete.css" />

<div class="container">
    <h4>מחיקת סוג משלוח</h4>
    <br />
    <div class="row">
        <div class="col-md-4" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Type)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.Type)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.DeliveryCostAddition)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.DeliveryCostAddition)
        </div>
    </div>
    <br />
    <div class="row">
        <form asp-action="Delete">
            <input type="hidden" asp-for="DeliveryTypeId" />
            <input type="submit" value="מחיקת סוג משלוח" class="btn btn-outline-danger" />
            <a asp-action="Index" class="btn btn-outline-info"> ביטול מחיקה</a>
        </form>
    </div>
    <div class="row">
        <a asp-action="Index">חזרה לרשימת סוגי המשלוח</a>
    </div>
</div>

