@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="text-align:center">
    <div style="font-size: 24px;">פעולות אחרונות בחשבון</div>
    <div id="facebook"></div>
    <div id="facebookContainer">
        <fb:login-button scope="public_profile,email"
                         onlogin="checkLoginState();">
        </fb:login-button>
    </div>
</div>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '330813322162394',
            cookie: true,
            xfbml: true,
            version: 'v2.7'
        });

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response) {
        if (response.status === 'connected') {

            document.getElementById('facebookContainer').style.display = "none"

            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
            });
            getActivities(response.authResponse.accessToken);
        } else {
            logout(response);
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    function logout() {
        FB.logout(function (response) {
            console.log(response)
        })
    }

    function getActivities(token) {
        FB.api(
            '/110158444618763/feed',
            'get',
            function (response) {
                console.log(response);
                response.data.forEach(i => {
                    var activity = document.createElement('div');
                    var createdDate = new Date(i.created_time)
                    var message = ""
                    var story = ""
                    if (i.message) {
                        message = +"'" + i.message + "'"
                    }
                    if (i.story) {
                        story = i.story
                    }
                    activity.innerHTML = createdDate.getDate() + "/" + createdDate.getMonth() + "/" + createdDate.getFullYear() + ' - ' + story + " " + message;
                    document.getElementById('facebook').appendChild(activity);
                })
            }
        );
    }
</script>
