@model PlantPlanet.Models.Order

@{
    ViewData["Title"] = "ביצוע הזמנה";

}

<link rel="stylesheet" href="~/css/Cart.css" />

<div style="width: 50%; margin-top: 5%">
    <form method="post" asp-action="Order">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PaymentMethod" class="control-label"></label>
            <input asp-for="PaymentMethod" class="form-control" />
            <span asp-validation-for="PaymentMethod" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PaymentsNumber" class="control-label"></label>
            <input asp-for="PaymentsNumber" value="1" class="form-control" />
            <span asp-validation-for="PaymentsNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PaymentVerification" class="control-label"></label>
            <input asp-for="PaymentVerification" class="form-control" />
            <span asp-validation-for="PaymentVerification" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeliveryTypeId" class="control-label"></label>
            <select asp-for="DeliveryTypeId" class="form-control" asp-items="ViewBag.DeliveryTypeId"></select>
        </div>
        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Street" class="control-label"></label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HouseNumber" class="control-label"></label>
            <input asp-for="HouseNumber" class="form-control" />
            <span asp-validation-for="HouseNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FloorNumber" class="control-label"></label>
            <input asp-for="FloorNumber" class="form-control" />
            <span asp-validation-for="FloorNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FlatNumber" class="control-label"></label>
            <input asp-for="FlatNumber" class="form-control" />
            <span asp-validation-for="FlatNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode" class="control-label"></label>
            <input asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="control-label"></label>
            <input asp-for="Message" class="form-control" />
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OrderComments" class="control-label"></label>
            <input asp-for="OrderComments" class="form-control" />
            <span asp-validation-for="OrderComments" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <input asp-for="IsPremiumDiscount" /> @Html.DisplayNameFor(model => model.IsPremiumDiscount)
            <label class="form-check-label">
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input asp-for="IsGift" /> @Html.DisplayNameFor(model => model.IsGift)
            </label>
        </div>
        <div class="form-group" style="margin-right: 45%">
            <input type="submit" onclick="alert()" value="הזמן" class="btn btn-outline-success"/>
        </div>
    </form>
</div>
<script>
    function alert() {
        confirm("הזמנה בוצעה בהצלחה");
    }
</script>