@font-face {
    font-family: plantPlanetFont;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: logoFont;
    src: url(../fonts/Anydore.Otf);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    font-size:medium;
    border: 1px solid #dddddd;
    text-align: right;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
