
@{
    ViewData["Title"] = "Index";
}

<div class="container" style="font-family:'Courier New'; text-align:right; direction:rtl">
    <div class="row" style="align-content:center">
        <h2>קצת על המשתלה שלנו..</h2>
    </div>
    <div class="row">
        <div class="col-sm">
            <h4>הצמחים</h4>
            <h6 style="font-weight:bold">יצאנו במסע לחיפוש אחר הגידול המושלם, לאחר שלמדנו כי צמחים הם כמו ילדים, צריך להשקיע בהם מהיום שנולדו את כל מה שניתן, על מנת לבנות ולהכין אותם לאתגרים שמציב העולם הגדול.</h6>
            <a style="font-size:small">
                אנו מכירים כבר היטב את האתגרים אשר חווים לקוחותינו בגידול שלהם, החל מהצפיפות העירונית, החום הלוהט של חודשי הקיץ ועד הזמן המועט שבאפשרותם להקדיש לצמחים. נזכרתי שבתחילת דרכנו, אמר לי חבר ותיק (יעקב מנשה שמו, אגרונום ומגדל צמחים מהטובים בתחומו), שצמחים אפשר לחנך, לטפח ולהתאים אותם לתנאיםט אשר קיימים במדינתנו הקטנה ובפרט באזור מישור החוף.
                בשלב ראשון היו לנו ספקות, אבל בחממה של יעקב יש אלפי הוכחות לכך. אז לקחנו את האידיאולוגיה שלו וכמובן את הצמחים שלו אלינו לחנות. התוצאות היו מדהימות. אכן צמחים שגודלו בתנאי השקיה נכונים ומתאימים יותר לעיר הגדולה, הוכיחו עמידות גבוה יותר. הן בחנות והן בבית הלקוח. כיום, מרבית הצמחים שאנו משווקים גודלו בתנאים אידיאליים והותאמו לגידול עירוני- עמידים יותר, חסכוניים יותר ובאיכות הגבוהה ביותר.
            </a>
        </div>
        <div class="col-sm" style="margin-top:4%">
            <img src="~/Images/nursery.jpg" alt="Plant Planet" style=" height: 350px; width:550px" />
        </div>
    </div>
    <div class="row" style="margin-top:4%">
        <div class="col-sm">
            <h4>המשתלה</h4>
            <h6 style="font-weight:bold">אז למה בעצם משתלה אתם שואלים? אנחנו בעיר, לא?</h6>
            <a style="font-size:small">
                מבחינתנו, משתלה זה מקום בו יש שתילים, מקום בו שותלים, וכמובן מקום מלא בצמחיה ירוקה ופרחונית. נוסף על כך, זהו מקום שאליו נגיע על מנת לרכוש את צרכי הגינון השונים. אנו מגדירים את עצמנו, "משתלה אורבנית", דהיינו, משתלה עירונית. מדוע משתלה עירונית? במהלך השנים, צברנו ניסיון עשיר וביססנו את שמנו בקרב המגדלים הטובים בארץ, כמו גם בקרב הספקים המובילים בתחום הירוק.
                אנו מרכזים לתוך המשתלה את מיטב הספקים המובילים בארץ אשר רואים ב"משתלה אורבנית" מרכז שיווק ומכירה מוביל וחשוב עבור מוצריהם אשר נמצא במרכז העיר הגדולה ומזין אלפים. את הגידול שלנו אנו מבצעים בשלוש טכניקות שונות: השקיה בטפטוף, השקיה בהתזה והשקיה בשולחות הצפה. בכדי להגיע לרמת גידול גבוה, יש לתת לכל צמח את הטיפול אשר מתאים לו. התחשבות בסביבה, דישון והשקיה מדויקת, בקרה תקופתית למניעת מזיקים ולקבלת מוצר נקי וחרקים בדגש על שימוש בריסוסים ושיטות טיפול אורגניות.
            </a>
        </div>
        <div class="col-sm">
            <h4>החנות</h4>
            <h6 style="font-weight:bold">בלב העיר רמת השרון, באמצע השדות החקלאיים נמצאת חנות הדגל שלנו. החנות הות הוקמה בשנת 2020 במהלך מגיפת הקורונה במהלך התקופה הקשה שאי אפשר היה לצאת לטבע, החלטנו לעזור לאנשים להכניס קצת מהטבע הביתה</h6>
            <a style="font-size:small">
                המטרה הראשונה הייתה לרכז לתוך החנות הקטנה את מגוון הצמחים והמוצרים אשר כל אחד צריך על מנת להקים לעצמו את הפינה הירוקה שלו ממש בתוך הבית. היום, החנות היא בעצם הלב שלנו, אשר מרכז אליו מגוון לקוחות מכל ערי המרכז, ומציעה להם את המילה האחרונה בתחום הגינון האורבני ובמחירים שפויים המתאימים לכל כיס, תוך דגש על שירות אישי ומקצועי לכל אחד ואחת מלקוחותינו.
                אנו מזמינים אתכם לגעת, להריח, לראות, וכמובן לפגוש אותנו, פנים אל מול פנים וכמו כן לרכוש את כל מה שהפינה הירוקה שלכם צריכה. והכל במרחק נגיעה.
            </a>
        </div>
    </div>
    <div class="row" style="margin-top:4%">
        <div class="col-sm">
            <img src="~/Images/nursery2.png" alt="Plant Planet" style=" height: 350px; width:550px" />
        </div>
        <div class="col-sm">
            <h4>המוצרים</h4>
            <h6 style="font-weight:bold">שמנו לעצמנו מטרה לקחת את התחום הירוק כמה צעדים קדימה. הקמנו משתלה יפה בלב השדות, הבאנו שתילים ממיטב המגדלים בארצנו הקטנה, אך הבנו עם השנים שלא מספיק רק צמחים טובים. </h6>
            <a style="font-size:small">
                כמו שכל אדם צריך בית חם, אוכל טוב, טיפול וטיפוח, גם לצמחים זה לא פחות חשוב. זה מתחיל באדמת השתילה שמהווה בסיס לכל צמח, לכלי השתילה כמו אדניות ועציצים, לדשנים, חומרי הדברה ואביזרי הגינון השונים. במשך השנים זרמו לחנות אלפי המוצרים השונים המוצעים בשוק המשתלות. אנו בחנו אותם בעצמנו ושמענו את דעותיהם של לקוחותינו. היום המשתלה מרכזת מגוון מוצרים אשר נבדקו בקפידה ומספקים מענה מלא לצורכי הגינון השונים, תוך דגש על איכות, מגוון, חדשנות מחיר הוגן. אנו עושים מאמץ יום יומי להתעדכן ולעדכן את מגוון המוצרים בחנות. חושבים שיש לכם מה להציע? נשמח לשמוע והתעדכן. רשמו לנו בדף צור קשר.
            </a>
        </div>
    </div>
    <div class="row" style="margin-top:4%">
        <h6 style="font-weight:bold">
            משתלת Plant Planet הוקמה על בסיס נסיון של שנים בתחום הגידול העירוני ומכירת צמחי וצרכי גינון. החנות משלבת צמחים אשר גדלו אצל מיטב המגדלים מהטובים בארץ, כלי שתילה ומוצרי גינון שונים, ברמה הגבוהה ביותר.

            אנו מברכים אתכם על ההתעניינות במוצרנו ושמחים להעניק לכם את השירות והמוצר הטובים ביותר בשוק המשתלות בישראל.
        </h6>
    </div>
    <div class="row" style="margin-top:4%; text-align:center">
        <h4 style="font-weight:bold">
            מי אנחנו?
        </h4>
    </div>
    <div class="row" style="margin-top:4%">
        <div class="col-sm">
            <h6 style="font-weight:bold">גל צבארי</h6>
        </div>
        <div class="col-sm">
            <h6 style="font-weight:bold">רום קוגן</h6>
        </div>       
        <div class="col-sm">
            <h6 style="font-weight:bold">נטע אלעד</h6>
        </div>
    </div>
</div>
