
@{
    ViewData["Title"] = "QuestionsAndAnswers";
}
<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/layout.css" />
<script src="~/lib/bootstrap/js/bootstrap.js"></script>

<div class="accordion accordion-flush" id="accordionFlushExample" style="direction: rtl; text-align: right">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                איפה אנחנו נמצאים ומה שעות הפתיחה שלנו?
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
            <div class="accordion-body">
                <a>המשתלה נמצאת ברמת השרון, ברחוב הסייפן 35</a> <br />
                <a>- בימי א-ה המשתלה פתוחה בין השעות 8:00-19:00</a> <br />
                <a>- בימי ו-ש המשתלה פתוחה בין השעות 10:00-15:00</a> <br />
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                מה לעשות אם אני רוצה לשלוח מתנה?
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour">
            <div class="accordion-body">
                <a>בעת ביצוע ההזמנה ניתן לסמן אותה כ"מתנה", בנוסף ניתן להוסיף ברכה שתצורף למשלוח :)</a>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                מה עושים אם מקבל המשלוח אינו בבית?
            </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive">
            <div class="accordion-body">
                <a>- כל המשלוחים מתואמים מראש לפני יציאת השליח.</a> <br />
                <a>- במידה וניתן, ישאיר השליח את ההזמנה בכניסה לבית הלקוח בתאום עמו.</a> <br />
                <a>- במידה ולא יהיה מענה, המשלוח יחזור למשתלה ויתואם משלוח חדש מול הלקוח. משלוח נוסף יחויב בתשלום.</a>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                מה קורה אם המוצר אזל מהמלאי?
            </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix">
            <div class="accordion-body">
                <a>- מלאי המוצרים באתר מתעדכן באופן שוטף. אך עם זאת תמיד יכול להיות שמוצר שאזל לא עודכן באתר. </a> <br />
                <a>- לאחר שתמלאו את עגלת הקניות בכל טוב ותשלחו את ההזמנה, במידה ומוצר חסר במלאי ניצור איתכם קשר.</a> <br />
                <a>- במידה ומוצר או צבע חסרים, נמליץ לכם על חלופות או נבצע את המשלוח כאשר המוצר יחזור למלאי.</a> <br />
                <a>- אנו נעשה את כל המאמץ לספק את המבוקש בהקדם.</a>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                תוך כמה זמן מגיע משלוח?
            </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven">
            <div class="accordion-body">
                <a>- הזמנה שבוצעה עד השעה 12 בצהריים תגיע עוד באותו היום.</a> <br />
                <a>- הזמנה שבוצעה לאחר השעה 12 בצהריים תגיע יום למחרת.</a>
            </div>
        </div>
    </div>
</div>
