@model PlantPlanet.Models.SubCategory

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/delete.css" />

<div class="container">
    <h4>מחיקת תת קטגוריה</h4>
    <div class="row">
        <div class="col-md-6">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-md-6">
            @Html.DisplayNameFor(model => model.ImageURL)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-md-6">
            <img src="~/@Html.DisplayFor(model => model.ImageURL)" style="height:80%; width:80%" />
        </div>
    </div>
    <div class="row" >
        <form asp-action="Delete">
            <input type="hidden" asp-for="SubCategoryId" />
            <input type="submit" value="מחיקת תת קטגוריה" class="btn btn-outline-danger" />
            <a asp-action="Index" class="btn btn-outline-info"> ביטול מחיקה</a>
        </form>
    </div>
    <div class="row">
        <a asp-action="Index">חזרה לרשימת תתי הקטגוריות</a>
    </div>
</div>