@model PlantPlanet.Models.Store

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/delete.css" />


<div class="container">
    <h4>מחיקת חנות</h4>
    <br />
    <div class="row">
        <h5>האם למחוק את החנות:'@Html.DisplayFor(model => model.StoreName)' ?</h5>
    </div>
    <br />
    <div class="row">
        <form asp-action="Delete">
            <input type="hidden" asp-for="StoreId" />
            <input type="submit" value="מחיקת חנות" class="btn btn-outline-danger" />
            <a asp-action="Index" class="btn btn-outline-info"> ביטול מחיקה</a>
        </form>
    </div>
    <br />
    <div class="row">
        <a asp-action="Index">חזרה לרשימת החנויות</a>
    </div>
</div>
