@{
    ViewData["Title"] = "ראשי";
}

<link rel="stylesheet" href="~/css/Home.css" />

<div class="container">
    <div class="home-title">
        plant planet
    </div>

    <img class="top-image" src="/Images/home-page-1.jpg">
</div>


